---
import Layout from "@layouts/Layout.astro";
import FixtureList from "@components/FixtureList.astro";
---

<Layout title="Fixtures" description="Fixtures">
  <h1>Fixtures</h1>

  <FixtureList />
</Layout>
